<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recruitment - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">@Strings.ToggleNavigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Brand</a>
            </div>
            @if (Request.IsAuthenticated)
            {
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Strings.Profiles <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(Strings.Profiles, "List", "Profile")</li>
                                <li>@Html.ActionLink(Strings.Roles, "List", "Role")</li>
                                <li>@Html.ActionLink(Strings.Clients, "List", "Client")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Strings.Roles <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(Strings.Profiles, "List", "Profile")</li>
                                <li>@Html.ActionLink(Strings.Roles, "List", "Role")</li>
                                <li>@Html.ActionLink(Strings.Clients, "List", "Client")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Strings.Clients <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(Strings.Profiles, "List", "Profile")</li>
                                <li>@Html.ActionLink(Strings.Roles, "List", "Role")</li>
                                <li>@Html.ActionLink(Strings.Clients, "List", "Client")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(SessionHelper.UserFullName, "Index", "Recruiter")</li>
                                <li class="divider"></li>
                                @using (Html.BeginForm("LogOff", "Authentication", FormMethod.Post, HtmlHelpers.GetHtmlAttributes(id: "logoutForm")))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">@Strings.SignOut</a></li>
                            </ul>
                        </li>
                    </ul>
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get, HtmlHelpers.GetHtmlAttributes(@class: "navbar-form navbar-right", id: "searchForm")))
                    {
                        <div class="input-group">
                            <input id="searchText" name="searchText" type="text" class="form-control" placeholder="search">
                            <span class="input-group-btn">
                                <button id="buttonSearch" onclick="javascript: document.getElementById('searchForm').submit()" class="btn btn-primary ladda-button" data-style="expand-left" type="button"><span class="glyphicon glyphicon-search ladda-label"></span></button>
                            </span>
                        </div>
                    }
                </div>
            }
        </div>
    </nav>
    <div id="quickSearchResult" class="quick-search"></div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ladda")
    <script type="text/javascript" src="~/Scripts/Views/Shared/_Layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
